    $colorGlobalBlack000: #000000;    
    $colorGlobalBlack1000: #00040d;    
    $colorGlobalAliasBackgroundMain: #000000;    
    $colorGlobalAliasBackgroundBtn: #000000;    
    $colorRed: #d2212a;    
    $colorColorBlack1000Value: #000000;    
    $colorColorRedValue0: #f0626a;    
