
.typographyBody 
 {
  
  font-family: "DB Heavent";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyHeader 
 {
  
  font-family: "DB Heavent";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitle 
 {
  
  font-family: "DB Heavent";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

